body {
  background-color: #ebecef;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.header-img {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: -280px;
    }

.container {
    width: 600px;
    margin: 40px auto;
}

    p.p-title {
    text-align: center;
    font-size: 0.75em;
    letter-spacing: 0.3em;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'helvetica', sans-serif;
    color: #0492AB;
}

    h1 {
    text-align: center;
    font-size: 3.2em;
    margin-top: 0px;
    margin-bottom: 40px;
}

    .portrait-img {
    width: 70%;
    display: block;
    margin: 0 auto;
    border-bottom: 6px solid #0492AB;
}


h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 2em;
    color: black
}

.p-date p-info {
    background-color: lightgrey;
}