body {
  background-color: #464E29;
  font-size: 16px;
  margin: 0 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.sigmar-one-regular {
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

/* ---------------------------------------------
------------------NAV BAR-----------------------
----------------------------------------------*/

.sidebar {
  background-color: #BFA574;
  padding: 0.5em;
  width: 200px;
  top: 0;
  left: 0;
  align-self: flex-start;
  position: fixed;
  height: 100vh;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar a {
  font-family: "Patrick Hand", cursive;
  color: #464E29;
  font-weight: light;
  text-decoration: none;
  padding: 0.5em 1em;
  line-height: 2.2em;
}

.logo {
  font-family: "Sigmar One", sans-serif; 
  font-size: 2em;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5em 0.5em 0em;
}

.field-guide {
  font-family: "Patrick Hand", cursive;
  color: #f4efe2;
  letter-spacing: 0.08em;
  margin-top: 2px;
  padding: 0.5em 1em;
}

.line {
  border: none;
  border-top: 2px solid #cd7b40;
  margin: 30px 0 30px;
  width: 100px;
  padding-left: 0.5em;
}




.big-title {
  font-size: 6em;
  line-height: 0.82;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Sigmar One", sans-serif; 
  padding: 50px 20px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.intro {
  font-family: "Patrick Hand", cursive;
  color: #BFA574;
  font-weight: light;
  font-size: 1.2em;
  line-height: 1.6;
  margin: 20px 0;
  letter-spacing: 0.05em;
}

img {
  display: flex;
  width: 600px;
  height: auto;
  justify-content: flex-end;
}

main {
  margin-left: 250px; 
}